<div class="modal fade" id="feedbackModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content bg-black text-light">
      <div class="modal-header border-secondary border-opacity-25">
        <h5 class="modal-title">Obrigado!</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Fechar"
        ></button>
      </div>
      <div class="modal-body small text-secondary" id="feedbackModalBody">
        A tua mensagem foi registada. Entraremos em contacto em breve.
      </div>
      <div class="modal-footer border-secondary border-opacity-25">
        <button type="button" class="btn btn-ghost btn-sm" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


